.projects-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.projects-title {
	width: 100% !important;
}

.projects-subtitle {
	width: 100% !important;
}

.projects-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
	z-index: 999;
}

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.projects-image-container {
	margin-left: -10px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.projects-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.projects-image-wrapper img {
	display: block;
	width: 100%;
}

.svg-image-small {
	width: 430px; /* Adjust the width as needed */
	height: 430px; /* Adjust the height as needed */
}

.svg-image-large {
	width: 490px; /* Adjust the width as needed */
	height:490px; /* Adjust the height as needed */
}
  
.svg-row {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 50px;
	display: flex; /* Use flexbox to align children in a row */
	justify-content: center; /* Center children horizontally */
	align-items: center; /* Center children vertically */
	flex-wrap: wrap; /* Optional: allows items to wrap to next line on small screens */
}

.icon-style {
	margin-right: 10px;
	color: black;
  }